@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  background-color: #18181b;
  color: white;
}
body, input, button, textarea{
  font-family: 'Roboto', sans-serif;
}